name: Test
run-name: Test
on:
  push:
    branches:
      - main
defaults:
  run:
    shell: bash

jobs:
  init_canary_release:
    name: Init canary release
    runs-on: ubuntu-latest
    env:
      CURRENT_RUN_LINK: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
      CURRENT_PR_NUMBER: ${{ github.event.pull_request.number }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/github-script@v6
        with:
          script: |
            console.log(`current event: ${context.eventName}`);
            console.log(github.run_id);
            console.log(context.workflow);
            const { data } =
                await github.rest.actions.listWorkflowRunsForRepo({
                  owner: context.repo.owner,
                  repo: context.repo.repo
                });
              console.log(data)
