---

name: Notify PRs about main Build
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

defaults:
  run:
    shell: bash

jobs:
  check_main_build_status:
    name: Check main Build status
    runs-on: ubuntu-latest
    env:
      CURRENT_PR_NUMBER: ${{ github.event.pull_request.number }}
      BUILD_AND_TEST_WORKFLOW_ID: 65527582
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
        with:
          sparse-checkout: .github

      - uses: actions/github-script@v6
        with:
          script: |
            console.log("Fetching the latest 10 main branch server_build_and_test Github Worklows which are completed")
            
            const { workflowRuns } = await github.rest.actions.listWorkflowRuns({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  workflow_id: ${BUILD_AND_TEST_WORKFLOW_ID},
                  branch: 'main',
                  event: 'push',
                  per_page: 10,
                  status: 'completed'
                });
            console.log(data)
            
