---

name: Notify PRs about main Build
on:
  push:
    branches:
      - master
      - release/FIX-**
      - dumper/**
  pull_request:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  check_main_build_status:
    name: Check main Build status
    runs-on: ubuntu-latest
    env:
      CURRENT_PR_NUMBER: ${{ github.event.pull_request.number }}
      BUILD_AND_TEST_WORKFLOW_ID: 65527582
      SEARCH_PAGE_LIMIT: 5
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
        with:
          sparse-checkout: .github

      - uses: actions/github-script@v6
        with:
          script: |
            console.log("Fetching the latest 10 completed main branch server_build_and_test Github Workflows.")
            
            const {BUILD_AND_TEST_WORKFLOW_ID,SEARCH_PAGE_LIMIT} = process.env
            let { data } = await github.rest.actions.listWorkflowRuns({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  workflow_id: BUILD_AND_TEST_WORKFLOW_ID,
                  branch: 'main',
                  event: 'push',
                  per_page: 10,
                  status: 'completed'
                });
            data.workflow_runs.forEach((x,i) => {console.log(x);console.log(i)})
            FIRST_FAILURE_RUN_BEFORE_SUCCESS = data.workflow_runs[0]
            data.workflow_runs.forEach((x, i) => {
                if (i != 0 && x.conclusion === 'success') {
                    FIRST_FAILURE_RUN_BEFORE_SUCCESS = data.workflow_runs[i-1]
                    break
                }
            })
            
