name: Test
run-name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  init_canary_release:
    name: Init canary release
    runs-on: ubuntu-latest
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
      CURRENT_RUN_LINK: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
      CURRENT_PR_NUMBER: ${{ github.event.pull_request.number }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - name: git
        run: |
          # setup the username and email. I tend to use 'GitHub Actions Bot' with no email by default
          git --version
          git describe

      - name: git stuff
        run: |
          echo $BRANCH_NAME
          git merge-base main $BRANCH_NAME

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/github-script@v6
        with:
          script: |
            console.log(`current event: ${context.eventName}`);
            const { data } =
                await github.rest.actions.listWorkflowRuns({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  workflow_id: 65527582,
                  branch: 'main',
                  event: 'push',
                  per_page: 5,
                  status: 'completed'
                });
